<!DOCTYPE html>
<html lang="en">
<head>
    <!--<link rel="stylesheet" href="index.css">-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="../static/index.js"></script>
    <meta charset="UTF-8">
    <title>Class CWRUsing</title>
</head>
<body>
    <form action="../RMPLookup.py" method="post">
        Class Code:<input type="text" name = "searchbox" id="classCode"><br>
        <button type="button" id = "searchButton">Search</button>
    </form>

    <div class = "sortButtons">
        <input type='checkbox' class=sortBox id = "ratingSort" value='show'>Rating
        <input type='checkbox' class=sortBox id = "difficultySort" value='show'>Difficulty
    </div>


</body>
</html>